/* Estilos básicos para o corpo do site */
body {
    font-family: 'LEMON MILK', Arial, sans-serif;
    /* Define a fonte do texto */
    background-color: #bc00bc;
    /* Cor de fundo do site */
    color: yellow;
    /* Cor do texto */
    margin: 0;
    /* Remove margens padrão */
    padding: 0;
    /* Remove espaçamento padrão */
}

/* Estilos para o cabeçalho do site */
header {
    position: relative;
    text-align: center;
    /* Centraliza o conteúdo do cabeçalho */
    padding: 20px;
    /* Espaçamento interno */
    background-image: url('stars.png');
    /* Caminho para a imagem de fundo */
    background-size: cover;
    /* Faz com que a imagem cubra todo o cabeçalho */
    background-position: center;
    /* Centraliza a imagem */
}

/* Define o tamanho máximo da logo */
#logo {
    width: 500px;
    /* define a largura da imagem */
    height: auto;
    /* mantem a proporção da imagem */
    max-width: 100%;
    /* garante que não ultrapasse o tamanho do header */
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
    /* Espaçamento interno */
    background-image: url('star100.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
}

/* Estilos para a seção de jogos */
#games {
    display: flex;
    /* Usa layout flexível para os jogos */
    flex-wrap: wrap;
    /* Permite que os jogos quebrem para a linha seguinte */
    justify-content: space-around;
    /* Distribui os jogos uniformemente */
    gap: 50px;
    /* espaçamento entre os jogos */
}

/* Estilos para cada bloco de jogo */
.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid yellow;
    /* Borda ao redor de cada jogo */
    border-radius: 10px;
    /* Arredonda os cantos da borda */
    padding: 10px;
    /* Espaçamento interno */
    margin: 10px;
    /* Espaçamento externo */
    max-width: 300px;
    /* Limita a largura máxima do bloco */
    text-align: center;
    /* Centraliza o conteúdo dentro do bloco */
    background-color: #1a1a1a;
    /* Cor de fundo do bloco */
    
}

/* Estilos para a imagem do jogo */
.game img {
    max-width: 100%;
    /* Faz a imagem ocupar toda a largura do bloco */
    border-radius: 10px;
    /* Arredonda os cantos da imagem */
}

/* Estilos para o botão de jogar */
button {
    background-color: #bc00bc;
    /* Cor de fundo do botão */
    color: yellow;
    /* Cor do texto do botão */
    border: 2px solid yellow;
    /* Remove a borda padrão */
    padding: 10px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Arredonda os cantos do botão */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    margin-top: auto;
    /* Espaçamento acima do botão */
}

/* Estilos para o botão ao passar o mouse por cima */
button:hover {
    background-color: #993399;
    /* Muda a cor de fundo ao passar o mouse */
}

/* Estilos para o rodapé do site */
footer {
    text-align: center;
    /* Centraliza o texto */
    padding: 70px;
    /* Espaçamento interno */
    background-color: black;
    /* Cor de fundo do rodapé */
    background-image: url(stars.png);
    /*imagem do rodapé*/
}

/* Estilos para os links no rodapé */
footer a {
    color: yellow;
    /* Cor do texto dos links */
    text-decoration: none;
    /* Remove o sublinhado padrão dos links */
    margin: 0 10px;
    /* Espaçamento entre os links */
    font-size: 20px;
    /*tamanho do texto do rodapé*/
}

/* Estilos para os links ao passar o mouse por cima */
footer a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse */
}